# Copia este archivo a .env.local y completa los valores
# cp env.local.example .env.local

# MongoDB Atlas
SPRING_DATA_MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/comunidevDB?retryWrites=true&w=majority

# GitHub OAuth
GITHUB_CLIENT_ID=tu_client_id
GITHUB_CLIENT_SECRET=tu_client_secret
GITHUB_REDIRECT_URI=http://localhost:8080/api/v1/auth/github/callback

# Frontend URL
FRONTEND_URL=http://localhost:4200

# Puerto del backend
PORT=8080

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret